@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.d-flex{
    display: flex;
}
.justify-content{
    justify-content: space-between;
}

.modalBackground{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}
.modalContainer{
    width: 60%;
    height: 622px;
    border-radius: 12px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
}
.content {
flex: 1;
display: flex;
height: 100% !important;

}