.d-flex{
    display: flex;
}
.text-decoration-none{
    text-decoration: none;
}
.justify-content-around{
    justify-content: space-around;
}

.education-heading{
    text-align: center;
    margin: 23px 0px;
    font-size: 28px;
}
.line{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.line hr{
    width: 1.5px;
    height: 100%;
    background: white;
}
.root{
    background-color: yellow !important;
 width: 30px !important; 
    padding: 8px !important;
    border-radius: 22px !important; 
}
.MuiSvgIcon-root path {
    filter: invert();
}
.education-detail{
    margin: 10px 1px 7px 24px;
    width: 300px;
}

.education-detail h4{
    margin-bottom: 10px;
        background: #373738;
        width: 127px;
        padding: 11px 6px;
        text-align: center;
        border-radius: 36px;
}

.education-detail h2{
    font-size: 31px;
    margin: 13px 0px;
}
.education-detail p{
    font-size: 22px;
}
